@charset "UTF-8";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  overflow: hidden;
  text-rendering: optimizeSpeed;
  image-rendering: optimizeSpeed;
  box-sizing: border-box;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(8rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* Nghĩa là line height gấp 1.7 lần line height mặc định */
  line-height: 1.7;
  color: #777;
}

.heading-primary {
  color: #3786be;
  text-transform: capitalize;
  font-size: 5rem;
  font-weight: 700;
}

::placeholder {
  font-size: 1.6rem;
  font-weight: 700;
  color: #999;
}

.text-devide {
  color: #000;
  font-size: 1.8rem;
  font-weight: 900;
  text-transform: uppercase;
}

.text-help {
  font-size: 1.5rem;
  font-weight: 700;
  color: #777;
}

.u-center-text {
  text-align: center !important;
}

.u-mb-l {
  margin-bottom: 8rem;
}

.u-mb-l {
  margin-bottom: 4rem;
}

.u-mb-s {
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  text-decoration: none;
  font-size: 1.6rem;
  border-top-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  transition: all 0.2s;
  border: none;
  transition: all 0.2s;
}

.btn:hover {
  cursor: pointer;
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--primary {
  background-color: #3786be;
  color: #fff;
}

.btn-link:link,
.btn-link:visited {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 700;
  color: #777;
  text-transform: capitalize;
  transition: all 0.2s;
}

.btn-icon:link,
.btn-icon:visited {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-shadow: 0 0.8rem 1.2rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}

.btn-icon:link img,
.btn-icon:visited img {
  padding: 1rem;
  width: 100%;
}

.btn-icon:link:hover,
.btn-icon:visited:hover {
  transform: scale(1.25) translateY(-3px);
}

.btn-icon:link:active,
.btn-icon:visited:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.form {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__contact {
  display: block;
  width: 100%;
  height: 4.5rem;
  border: 1px solid #777;
  border-radius: 5px;
  padding: 0.2rem 0.6rem;
  outline-color: #3786be;
  margin-bottom: 1.2rem;
}

.login {
  display: flex;
  height: 100vh;
}

.login__img {
  flex: 1;
  background-size: cover;
  background-image: linear-gradient(rgba(55, 134, 190, 0.75), rgba(55, 134, 190, 0.75)), url("../images/bg-login.png");
  animation-name: fadeIn;
  animation-duration: 1.2s;
  animation-timing-function: ease-in;
}

.login__box {
  flex: 1;
  display: flex;
  background-color: rgba(255, 255, 255, 0.6);
  flex-direction: column;
  align-items: center;
  animation-name: moveInBottom;
  animation-duration: 1.6s;
  animation-timing-function: ease-out;
}

.login__box .logo {
  width: 12rem;
  height: 15rem;
  margin-top: 1rem;
  margin-bottom: -2rem;
  padding: 2rem 0;
}

.login__box .btn-link {
  align-self: flex-end;
}

.login__box .btn {
  width: 100%;
}

.login__box .text-devide {
  margin: 1rem 0;
}

.login__box .social-list {
  list-style-type: none;
}

.login__box .social-list li {
  display: inline-block;
  margin-bottom: 1rem;
}

.login__box .social-list li:nth-child(2) {
  margin: 0 1rem;
}