@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  overflow: hidden;
  text-rendering: optimizeSpeed;
  image-rendering: optimizeSpeed;
  box-sizing: border-box; }

.row {
  max-width: 114rem;
  margin: 0 auto; }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(8rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 100%; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* Nghĩa là line height gấp 1.7 lần line height mặc định */
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #3786be;
  text-transform: capitalize;
  font-size: 5rem;
  font-weight: 700; }

::placeholder {
  font-size: 1.6rem;
  font-weight: 700;
  color: #999; }

.text-devide {
  color: #000;
  font-size: 1.8rem;
  font-weight: 900;
  text-transform: uppercase; }

.text-help {
  font-size: 1.5rem;
  font-weight: 700;
  color: #777; }

.u-center-text {
  text-align: center !important; }

.u-mb-l {
  margin-bottom: 8rem; }

.u-mb-l {
  margin-bottom: 4rem; }

.u-mb-s {
  margin-bottom: 1rem; }

.btn {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  transition: all 0.2s;
  border: none;
  transition: all 0.2s; }
  .btn:hover:not(.btn--accent-dark) {
    cursor: pointer;
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:active:not(.btn--accent-dark) {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--primary {
    padding: 1.5rem 4rem;
    border-top-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    background-color: #3786be;
    color: #fff; }
  .btn--primary-dark {
    background-color: #2579f2;
    color: #fff; }
  .btn--accent-dark {
    height: inherit;
    background-color: #0A59CC;
    color: #fff;
    padding: 2rem 3rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }

.btn-link:link, .btn-link:visited {
  display: inline-block;
  transition: all 0.2s; }

.btn-link--grey {
  font-size: 1.7rem;
  font-weight: 700;
  color: #777;
  text-transform: capitalize; }

.btn-link--white {
  font-size: 1.4rem;
  font-weight: 400;
  color: #fff;
  text-decoration: none; }

.btn-icon:link, .btn-icon:visited {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-shadow: 0 0.8rem 1.2rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
  overflow: hidden; }

.btn-icon img {
  width: 100%;
  image-rendering: optimizeSpeed;
  padding: 1rem; }

.btn-icon:hover {
  transform: scale(1.25) translateY(-3px); }

.btn-icon:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.form {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .form__contact {
    display: block;
    width: 100%;
    font-size: 1.8rem;
    font-weight: 300;
    height: 4.5rem;
    border: 1px solid #777;
    border-radius: 5px;
    padding: 0.2rem 0.6rem;
    outline-color: #3786be;
    margin-bottom: 1.2rem; }

.search-bar {
  display: flex;
  justify-content: center; }
  .search-bar .form__contact {
    width: 80%;
    height: 4.5rem;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .search-bar__icon {
    position: relative;
    display: flex;
    align-items: center;
    height: 4.5rem; }
    .search-bar__icon .search-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2rem; }

.infor {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 2rem; }
  .infor__avatar {
    width: 5rem;
    height: 5rem;
    clip-path: circle(50% at 50% 50%);
    object-fit: cover; }
  .infor__text {
    display: flex;
    flex-direction: column; }
    .infor__text a {
      text-align: right; }
  .infor__name {
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff; }

.login {
  display: flex;
  height: 100vh; }
  .login__img {
    flex: 1;
    background-size: cover;
    background-image: linear-gradient(rgba(55, 134, 190, 0.75), rgba(55, 134, 190, 0.75)), url("../../images/bg-login.png");
    animation-name: fadeIn;
    animation-duration: 1.2s;
    animation-timing-function: ease-in; }
  .login__box {
    flex: 1;
    display: flex;
    background-color: rgba(255, 255, 255, 0.6);
    flex-direction: column;
    align-items: center;
    animation-name: moveInBottom;
    animation-duration: 1.6s;
    animation-timing-function: ease-out; }
    .login__box .logo {
      width: 12rem;
      height: 15rem;
      margin-top: 1rem;
      margin-bottom: -2rem;
      padding: 2rem 0; }
    .login__box .btn-link {
      align-self: flex-end; }
    .login__box .btn {
      width: 100%; }
    .login__box .text-devide {
      margin: 1rem 0; }
    .login__box .social-list {
      list-style-type: none; }
      .login__box .social-list li {
        display: inline-block;
        margin-bottom: 1rem; }
        .login__box .social-list li:nth-child(2) {
          margin: 0 1rem; }

.header {
  background-color: #2579f2;
  height: 8rem; }
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 0; }
    .header__container .logo {
      height: 6rem;
      width: 6rem;
      flex: 1; }
    .header__container .search-bar {
      flex: 7; }
    .header__container .infor {
      flex: 2; }
    .header__container .form__contact {
      margin-bottom: 0; }
