// COLORS
$color-primary: #63bdff;
$color-accent: #3786be;
$color-white: #fff;

$color-black: #000;
$color-grey-dark: #777;
$color-grey-light: #999;

// MANAGER
$m-color-primary: #e4f4ff;
$m-color-background: #fff;
$m-color-foreground: #047ffa;

// FONT SIZE
$default-font-size: 1.6rem;
