// COLORS
$color-primary: #63bdff;
$color-primary-dark: #2579f2;
$color-accent: #3786be;
$color-accent-dark: #0A59CC;
$color-white: #fff;

$color-black: #000;
$color-grey-dark: #777;
$color-grey: #e5e5e5;
$color-grey-light: #999;

$color-hot-line: #FF1818;

// FONT SIZE
$default-font-size: 1.6rem;

// GRID-FLUID
$grid-width: 114rem;
