.m,
.a {
  &__nav {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $m-color-primary;
    padding: 1rem 0rem 1rem 1rem;
    align-items: center;

    &__logo {
      a {
        align-items: center;
        display: flex;
        flex-direction: row;
        text-decoration: none;
        font-size: 1.5rem;
        gap: 0.5rem;
        color: black;
        p {
          margin-left: 1rem;
          font-size: 2rem;
        }
      }
      img {
        margin-left: 1rem;
        width: 64px;
      }
    }
    &__info {
      display: flex;
      flex-direction: row;
      padding-right: 3rem;
      font-weight: bold;
      gap: 1rem;
      align-items: center;
      img {
        width: 4rem;
        border-radius: 3rem;
      }
    }
    &__profile {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
    }
  }
}
