.polygon-icon {
  position: relative;
  display: inline-block;
  top: -5px;
  right: -5px;

  &::before {
    position: absolute;
    display: block;
    top: 75%;
    left: 0;
    content: "\0394";
    transform: rotate(180deg);
  }

  &:hover {
    cursor: pointer;
  }
}
