.cart__table {
  width: 100%;
  background-color: $color-white;
  color: $color-black;
  font-size: 1.4rem;
  border: 1px solid transparent;
  border-collapse: collapse;

  th,
  td {
    padding: 0.8rem 1rem;
    border-radius: 4px;
    border-bottom: 5px solid $color-grey;
    text-align: right;
  }

  th:first-child,
  td:first-child,
  th:nth-child(2),
  td:nth-child(2) {
    text-align: left;
  }

  td {
    &:nth-child(3) {
      padding-right: 4rem;
    }
    a {
      text-decoration: none;
      color: $color-black;
    }
  }

  .amount {
    display: flex;
    justify-content: flex-end;
    column-gap: 0.4rem;
    align-items: flex-end;
    .btn {
      padding: 0.2rem 0.6rem;
    }
    &__value {
      text-align: center;
      width: 2.4rem;
      padding: 0.2rem;
    }
  }
}
