.m {
  &__func {
    row-gap: 2rem;

    .btn {
      transform: none;
      box-shadow: none;
    }

    &:last-child {
      gap: 2rem;
      cursor: default;
    }

    &_textbox {
      background-color: white;
      font-size: 2rem;
      color: black;

      input {
        font-size: 2rem;
        height: 4rem;
      }
    }
  }
}
