body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* Nghĩa là line height gấp 1.7 lần line height mặc định */
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-primary {
  color: $color-accent;
  text-transform: capitalize;
  font-size: 5rem;
  font-weight: 700;
}

::placeholder {
  font-size: $default-font-size;
  font-weight: 700;
  color: $color-grey-light;
}

.text-devide {
  color: $color-black;
  font-size: 1.8rem;
  font-weight: 900;
  text-transform: uppercase;
}

.text-help {
  font-size: 1.5rem;
  font-weight: 700;
  color: $color-grey-dark;
}
