// Partial file for utililities
.u-center-text {
  text-align: center !important;
}

// margin bottom large
.u-mb-l {
  margin-bottom: 8rem;
}

// margin bottom medium
.u-mb-l {
  margin-bottom: 4rem;
}

// margin bottom small
.u-mb-s {
  margin-bottom: 1rem;
}
