// Partial file for utililities
.u-center-text {
  text-align: center !important;
}

.u-left-text {
  text-align: left !important;
}

.u-bold-text {
  font-weight: 700;
}

// margin bottom large
.u-mb-l {
  margin-bottom: 8rem;
}

// margin bottom medium
.u-mb-l {
  margin-bottom: 4rem;
}

// margin bottom small
.u-mb-s {
  margin-bottom: 1rem;
}
